---
import FlyerTabs from "../components/flyer-tabs.astro";
import Snapshots from "../components/snapshots.astro";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";

import {
  REGISTER_LINK,
  BLUESKY_LINK,
  CONTACT_LINK,
  GITHUB_LINK,
} from "../constants/links";

import { Image } from "astro:assets";
import bg from "../assets/bg.png";
---

<Layout>
  <div
    class="relative hero flex flex-col items-center justify-center align-self-stretch text-center pt-10"
  >
    <Image src={bg} class="hero-bg" alt="" loading="eager" priority />

    <Title />

    <h2 class="faq-header tilt-left">April 19th, 2025</h2>
    <h2 class="faq-header tilt-right">at c-base</h2>

    <p>Rungestraße 20, 2nd Backyard</p>

    <h3 class="h1">
      <span class="letter-2">1</span><span class="letter-3">2</span>:<span
        class="letter-5">0</span
      ><span class="letter-6">0</span> – <span class="letter-5">1</span><span
        class="letter-8">8</span
      ><span class="letter-9">:</span><span class="letter-10">0</span><span
        class="letter-11">0</span
      >
    </h3>

    <a
      class="register-link text-center mt-10"
      href={REGISTER_LINK}
      target="_blank"
      onclick="fathom.trackEvent('register here click');"
    >
      Register here
    </a>
  </div>

  <FlyerTabs />

  <div class="flex flex-col items-center justify-center text-center mx-5">
    <p class="mb-6 mt-20">
      We're hosting the first Swapfest at
      <a href="https://c-base.org">c-base</a>
      - the oldest discovered space station under Berlin - now long-running (nearly
      30 years) hackerspace This is a place to swap electronics, computer equipment,
      and tools.
    </p>

    <p class="mb-50">
      In tune with the spirit of right-to-repair as well as re-use; the goal of
      the Berlin Swapfest is for people to bring electronics, equipment, and
      tools they no longer use, but want to bring to a good home. If you've been
      trying to find the perfect equipment to build your home-lab or looking for
      new electronic components or tools, this should be the place for you.
      Berlin Swapfest is inspired by the <a
        href="https://w1mx.mit.edu/flea-at-mit/">MIT Swapfest</a
      >
    </p>

    <p class="mb-50">
      We will try to make things edutaining and fun - hourly we pass a
      microphone around, so entities who want to swap items <em>**can**</em> elaborate
      on the item they want to swap, maybe provide some history, a fun story, a lesson,
      etc. about it and why they intend to swap and what their expectation for the
      other side of the bargain are. The whole thing is intended to happen in a relaxed
      atmosphere, there will also be a bar where you're able to get beverages.
    </p>

    <div class="mb-100">
      <Snapshots />
    </div>

    <h2 class="h1">
      <span class="letter-1">F</span><span class="letter-2">A</span><span
        class="letter-3">Q</span
      >
    </h2>

    <h2 class="faq-header tilt-left mb-6">Do you provide tables?</h2>

    <di class="mb-100">
      <p>
        Yes, c-base will provide space and tables. Space will be allocated based
        on registration information. If you forgot to register as a provider of
        items, it may be possible to to get table-space if there is room left -
        but people that registered have priority!
      </p>
    </di>

    <h2 class="faq-header whitespace-nowrap tilt-right mb-6">
      How much to get a table?
    </h2>

    <div class="mb-100">
      <p class="mb-6">
        Being a provider of items is free. Depending on the size of the item
        you're bringing you may be asked for a deposit to handle disposal of
        your items should you not bring it back home with you.
      </p>

      <p>
        However, we highly encourage you to only bring items you're comfortable
        bringing back home with you.
      </p>
    </div>

    <h2 class="faq-header tilt-left mb-6">How can I swap stuff?</h2>

    <div class="mb-100">
      <p>
        We have no requirements on how to exchange goods; if you choose to use
        Cash, Cryptocurrency, PayPal, Electronics, Services, Knowledge,
        Beverages, etc. it is entirely up to you. Any disputes must be taken up
        with the seller. Only in the case of a breach of c-base rules will a
        team member step in.
      </p>
    </div>

    <div class="mb-6">
      <a
        href={CONTACT_LINK}
        target="_blank"
        rel="nofollow"
        class="text-decoration-none"
      >
        <span class="sr-only">Contact Swapfest Team</span>
        <span role="img" aria-label="contact">📧</span>
      </a>

      <a
        href={BLUESKY_LINK}
        target="_blank"
        rel="nofollow"
        class="text-decoration-none"
      >
        <span class="sr-only">Visit Bluesky Profile</span>
        <span role="img" aria-label="bluesky">🦋</span>
      </a>
    </div>

    <div class="mb-6">
      <p>
        Brought to you by <a href="https://www.reiner.systems" target="_blank">
          mirshko
        </a>
      </p>

      <p>
        Designed by <a href="https://www.brandonoxendine.com" target="_blank">
          Brandon Oxendine
        </a>
      </p>

      <p>
        Source <a href={GITHUB_LINK} target="_blank"> on GitHub </a>
      </p>
    </div>
  </div>
</Layout>
