---
import { format } from "date-fns";
import Background from "../components/background.astro";
import FlyerTabs from "../components/flyer-tabs.astro";
import Title from "../components/title.astro";
import { EVENT_DATE } from "../constants/date";
import * as LINKS from "../constants/links";
import * as LOCATION from "../constants/location";
---

<header class="relative grid place-items-center pt-10 pb-20 text-center">
  <Background />

  <Title />

  <p aria-hidden="true" class="faq-header tilt-left">
    {format(EVENT_DATE, "MMMM do, yyyy")}
  </p>
  <p aria-hidden="true" class="faq-header tilt-right">at {LOCATION.NAME}</p>

  <p class="sr-only">
    {`${format(EVENT_DATE, "MMMM do, yyyy")} at ${LOCATION.NAME}`}
  </p>

  <p class="body">
    {`${LOCATION.STREET_ADDRESS}, ${LOCATION.ADDRESS_ADDITIONAL}`}
  </p>

  <h3 class="display mb-10">
    <span aria-hidden="true" class="letter-2">1</span><span
      aria-hidden="true"
      class="letter-3">2</span
    ><span aria-hidden="true">:</span><span aria-hidden="true" class="letter-5"
      >0</span
    ><span aria-hidden="true" class="letter-6">0</span>{" "}<span
      aria-hidden="true">&ndash;</span
    >{" "}<span aria-hidden="true" class="letter-5">1</span><span
      aria-hidden="true"
      class="letter-8">8</span
    ><span aria-hidden="true" class="letter-9"
      ><span aria-hidden="true">:</span></span
    ><span aria-hidden="true" class="letter-10">0</span><span
      aria-hidden="true"
      class="letter-11">0</span
    >
    <span class="sr-only">12:00 to 18:00</span>
  </h3>

  <a
    class="register-link"
    href={LINKS.REGISTER_LINK}
    target="_blank"
    onclick="fathom.trackEvent('register here click');"
  >
    Register here
  </a>
</header>

<FlyerTabs />
