---
import { format } from "date-fns";
import Background from "../components/background.astro";
import FlyerTabs from "../components/flyer-tabs.astro";
import Title from "../components/title.astro";
import { EVENT_DATE } from "../constants/date";
import * as LINKS from "../constants/links";
import * as LOCATION from "../constants/location";
import WiggleText from "./wiggle-text.astro";
---

<header class="relative grid place-items-center pt-10 pb-20 text-center">
  <Background />

  <Title />

  <p aria-hidden="true" class="faq-header tilt-left">
    {format(EVENT_DATE, "MMMM do, yyyy")}
  </p>
  <p aria-hidden="true" class="faq-header tilt-right">at {LOCATION.NAME}</p>

  <p class="sr-only">
    {`${format(EVENT_DATE, "MMMM do, yyyy")} at ${LOCATION.NAME}`}
  </p>

  <p class="body mt-5">
    {`${LOCATION.STREET_ADDRESS}, ${LOCATION.ADDRESS_ADDITIONAL}`}
  </p>

  <p class="display mb-10">
    <WiggleText
      text="12:00 to 17:00"
      words={[
        [
          ["1", "rotate-[3deg] scale-75 mr-[-0.5%]"],
          ["2", "rotate-[-2deg] scale-105 mr-[0.5%]"],
          [":", ""],
          ["0", "rotate-[-3deg] scale-80 mr-[-0.25%]"],
          ["0", "rotate-[6deg] scale-102"],
        ],
        [["–", ""]],
        [
          ["1", "rotate-[-3deg] scale-80 mr-[-0.5%]"],
          ["7", "rotate-[6deg] scale-100 ml-[-0.5%]"],
          [":", ""],
          ["0", "rotate-[2deg] scale-95"],
          ["0", "rotate-[-5deg] scale-102"],
        ],
      ]}
    />
  </p>

  <p class="register-link">
    <a
      aria-label="Register to attend the Berlin Swapfest"
      class="register-link"
      href={LINKS.REGISTER_LINK}
      onclick="fathom.trackEvent('click register');"
      target="_blank">Register to attend</a
    >
    {" or "}<a
      aria-label="Register to reserve a table"
      class="register-link"
      href={LINKS.REGISTER_TABLE_LINK}
      onclick="fathom.trackEvent('click reserve table');"
      target="_blank">reserve a table</a
    >
  </p>
</header>

<FlyerTabs />
