---
import { Font } from "astro:assets";
import Fathom from "../components/fathom.astro";
import LdJson from "../components/ld-json.astro";
import { EVENT_DATE } from "../constants/date";
import * as SEO from "../constants/seo";
import "../styles/global.css";

export interface Properties {
  title?: string;
  description?: string;
}

const { title = SEO.TITLE, description = SEO.DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <meta content={description} name="description" />
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="website" property="og:type" />
    <meta content="Berlin Swapfest" property="og:site_name" />
    <meta
      content="https://www.swapfest.berlin/og-image.png"
      property="og:image"
    />
    <meta content="image/png" property="og:image:type" />
    <link href="favicon.png" rel="icon" type="image/x-icon" />
    <meta content="1200" property="og:image:width" />
    <meta content="627" property="og:image:height" />
    <meta content="Berlin Swapfest at c-base" property="og:image:alt" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <Font cssVariable="--font-caprasimo" preload />
    <Font cssVariable="--font-courier-prime" preload />
    <Fathom />
    {EVENT_DATE && <LdJson eventDate={EVENT_DATE} />}
  </head>
  <body>
    <slot />
  </body>
</html>
