---
/* eslint-disable astro/no-set-html-directive */

import { Font } from "astro:assets";
import { format } from "date-fns";
import type { Event, WithContext } from "schema-dts";
import Fathom from "../components/fathom.astro";
import { EVENT_DATE } from "../constants/date";
import * as LOCATION from "../constants/location";
import * as SEO from "../constants/seo";
import "../styles/global.css";

const eventStructuredData: WithContext<Event> = {
  "@context": "https://schema.org",
  "@type": "Event",
  name: "Berlin Swapfest",
  startDate: `${format(EVENT_DATE, "yyyy-MM-dd")}T12:00-01:00`,
  endDate: `${format(EVENT_DATE, "yyyy-MM-dd")}T18:00-01:00`,
  eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
  eventStatus: "https://schema.org/EventScheduled",
  location: {
    "@type": "Place",
    name: LOCATION.NAME,
    address: {
      "@type": "PostalAddress",
      streetAddress: LOCATION.STREET_ADDRESS,
      addressLocality: LOCATION.ADDRESS_LOCALITY,
      postalCode: LOCATION.POSTAL_CODE,
      addressRegion: LOCATION.ADDRESS_REGION,
      addressCountry: LOCATION.ADDRESS_COUNTRY,
    },
  },
  description: SEO.DESCRIPTION,
  organizer: [
    {
      "@type": "Person",
      name: "mirshko",
      url: "https://www.reiner.systems",
    },
    {
      "@type": "Organization",
      name: LOCATION.NAME,
      url: LOCATION.URL,
    },
  ],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{SEO.TITLE}</title>
    <meta content={SEO.DESCRIPTION} name="description" />
    <meta content={SEO.TITLE} property="og:title" />
    <meta content={SEO.DESCRIPTION} property="og:description" />
    <meta content="website" property="og:type" />
    <meta
      content="https://www.swapfest.berlin/og-image.png"
      property="og:image"
    />
    <meta content="image/png" property="og:image:type" />
    <link href="favicon.png" rel="icon" type="image/x-icon" />
    <meta content="1200" property="og:image:width" />
    <meta content="627" property="og:image:height" />
    <meta content="Berlin Swapfest at c-base" property="og:image:alt" />
    <Font cssVariable="--font-caprasimo" preload />
    <Font cssVariable="--font-courier-prime" preload />
    <Fathom />
    <script
      is:inline
      set:html={JSON.stringify(eventStructuredData)}
      type="application/ld+json"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
